[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button-bevel;
}
.btn-warning{
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-info{
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-success{
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-info {
    background-color: #5bc0de;
    border-color: #46b8da;
}
#customizedAlertsPreview span a{
    color: #337ab7 !important;
    text-decoration: none;
}
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-triangle-bottom:before {
    content: "\e252";
}
.glyphicon-triangle-top:before {
    content: "\e253";
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 800px;
    }
}
.close{
    opacity: .2;
}
.modal-header .close{
    position: absolute;
    top: 20px;
    right: 20px;
}
