.form-control-custom td:nth-child(1) {
    width: 170px;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button-bevel;
}
.btn:not(:disabled):not(.disabled):active:focus,.btn:not(:disabled):not(.disabled):focus{
    box-shadow:none !important;
}
.btn-warning{
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-info{
    background-color: #5bc0de;
    border-color: #46b8da;
}
.save{
    border:1px solid #5cb85c !important;
    background-color: #5cb85c;
    color: #fff !important;
}
.btn-success{
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-cancel{
    background-color: #fff !important;
    border-color: #ccc !important;
}
.btn-cancel:hover,.save{
    font-size: 14px !important;
}
.btn-info{
    background-color: #5bc0de;
    border-color: #46b8da;
}
.btn-info:focus{
    box-shadow:none;
}
.btn-default{
    background-color: #fff;
    border-color: #fff;
}
.btn-default:hover,.btn-default:active, .btn:not(.btn-warning):not(.btn-success):not(.btn-info):hover{
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;
}

#addFormLink button,#addSurveyLink button{
    font-size: 13px;
}
#customizedAlertsPreview span a{
    color: #337ab7 !important;
    text-decoration: none;
}
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-triangle-bottom:before {
    content: "\e252";
}
.glyphicon-triangle-top:before {
    content: "\e253";
}
@media (min-width: 576px){
    .modal-dialog-queue {
        max-width: 600px !important;
    }
    .modal-dialog-preview-queue {
        max-width: 950px !important;
        font-size:11px !important;
    }
    #external-modules-configure-modal .modal-dialog, #external-modules-configure-modal-record .modal-dialog, #external-modules-configure-modal-preview .modal-dialog{
        max-width:800px !important;
    }
    .modal-dialog:not(.modal-dialog-queue,.modal-dialog-preview-queue){
        max-width:800px;
    }

}
.close{
    opacity: .2;
}
.modal-header .close{
    position: absolute;
    top: 20px;
    right: 20px;
}
.float-left{
    float: left !important;
}
.popover{
    max-width:300px;
}